In [ ]:
import pandas as pd
df = pd.read_csv('Online Retail.csv')

In [6]:
df1 = df.head(1000)
df1

,InvoiceNo,InvoiceDate,InvoiceTime,StockCode,Description,Quantity,UnitPrice,Totalsale,CustomerID,Country
0,536365,01-12-2010,08:26:00 AM,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,15.30,17850.0,United Kingdom
1,536365,01-12-2010,08:26:00 AM,71053,WHITE METAL LANTERN,6,3.39,20.34,17850.0,United Kingdom
2,536365,01-12-2010,08:26:00 AM,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,22.00,17850.0,United Kingdom
3,536365,01-12-2010,08:26:00 AM,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,20.34,17850.0,United Kingdom
4,536365,01-12-2010,08:26:00 AM,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,20.34,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...,...,...
995,536520,01-12-2010,12:43:00 PM,22469,HEART OF WICKER SMALL,1,1.65,1.65,14729.0,United Kingdom
996,536520,01-12-2010,12:43:00 PM,22100,SKULLS SQUARE TISSUE BOX,1,1.25,1.25,14729.0,United Kingdom
997,536520,01-12-2010,12:43:00 PM,22096,PINK PAISLEY SQUARE TISSUE BOX,1,1.25,1.25,14729.0,United Kingdom
998,536520,01-12-2010,12:43:00 PM,22583,PACK OF 6 HANDBAG GIFT BOXES,1,2.55,2.55,14729.0,United Kingdom
999,536520,01-12-2010,12:43:00 PM,21358,TOAST ITS - HAPPY BIRTHDAY,2,1.25,2.50,14729.0,United Kingdom

In [7]:
df1.to_csv('Online Retail 1k.csv', index=False)